@use "../abstract" as *;

.cards {
  margin-block: 1.5rem;

  @include md("small") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md("medium") {
    --gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  @include md("large") {
    &:nth-child(1) {
      margin-top: 2.5rem;
    }
  }
}

/* Cards */
.card {
  --flow-space: 1.5rem;
  position: relative;

  width: min(100%, 20rem);
  margin-inline: auto;
  padding: 1.5rem 2rem;

  text-align: center;
  background-color: var(--neutral-300);

  border-radius: 0.3rem;
  cursor: pointer;

  @include active {
    background-color: var(--neutral-hover);
  }

  &__layout {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    & + & {
      margin-top: 1.5rem;
      align-items: flex-end;
    }
  }
}

.rating {
  @include flex(center, center);
  gap: 0.3rem;
}

@each $shade, $value in $custom-colors {
  .#{$shade} {
    @include custom-br(#{$value});
  }
}
