@use '../abstract' as *;

.cards {
    margin-block: 1.5rem;

    @include md('small') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md('medium') {
        --gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Cards */
.card {
    --flow-space: 1.5rem;
    
    width: min(100%, 20rem);
    margin-inline: auto;
    padding: 1.5rem 2rem;

    text-align: center;
    background-color: var(--neutral-300);
    
    border-radius: 4px;
    cursor: pointer;

    @include active {
        background-color: rgba(0 0 0 / .09);
    }

    &__layout {
        display: flex;
        align-items: center;
        gap: .7rem;

        & + & {
            margin-top: 1.5rem;
            align-items: flex-end;
        }
    }
}

.rating {
    @include flex(center, center);
    gap: .3rem;
}

.facebook   { @include custom-br(var(--clr-facebook)) ; }
.twitter    { @include custom-br(var(--clr-twitter))  ; }
.youtube    { @include custom-br(var(--clr-youtube))  ; }
.instagram  { @include custom-br(var(--clr-instagram)); }