// font-sizes
$font-sizes: (
  900: var(--fs-900),
  700: var(--fs-700),
  500: var(--fs-500),
);

// font colors
$font-colors: (
  "neutral": var(--neutral-900),
  "body": var(--neutral-400),
  "success": var(--clr-success),
  "danger": var(--clr-danger),
);

// custom border colors
$custom-colors: (
  "facebook": hsl(208, 92%, 53%),
  "twitter": hsl(203, 89%, 53%),
  "instagram": linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
  "youtube": hsl(348, 97%, 39%),
);
