$breakpoints: (
  "small": (
    min-width: 34em,
  ),
  "medium": (
    min-width: 56.25em,
  ),
  "large": (
    min-width: 75em,
  ),
);

// Reference: https://sass-guidelin.es/#responsive-web-design-and-breakpoints
@mixin md($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
          + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// themes - (dark & light)
@mixin theme($clr-theme) {
  @media (prefers-color-scheme: $clr-theme) {
    @content;
  }
}

// flexbox
@mixin flex($align, $justify, $direction: row, $gap: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $gap !=null {
    gap: $gap;
  }
}

// custom border color for cards
@mixin custom-br($border-color) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: $border-color;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

// hover & focus states
@mixin active {
  &:hover,
  &:focus {
    @content;
  }
}
