@use "./mixins" as *;

/* Google Fonts - Inter (400, 700) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  color-scheme: light dark;
  --clr-success: hsl(163, 72%, 41%);
  --clr-danger: hsl(356, 69%, 56%);

  --ff-body: "Inter", sans-serif;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-700: 1.5rem;
  --fs-900: 2.8rem;

  --fw-200: 400;
  --fw-400: 700;

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(225, 100%, 98%);
  --neutral-300: hsl(227, 47%, 96%);
  --neutral-400: hsl(228, 12%, 44%);
  --neutral-900: hsl(230, 17%, 14%);

  --neutral-custom: var(--neutral-400);
  --neutral-hover: hsl(232, 33%, 91%);

  // extra fallback if JavaScript doesn't work
  @include theme(dark) {
    --neutral-100: hsl(230, 17%, 14%);
    --neutral-200: hsl(232, 19%, 15%);
    --neutral-300: hsl(228, 28%, 20%);
    --neutral-400: hsl(228, 34%, 66%);
    --neutral-900: hsl(0, 0%, 100%);

    --neutral-custom: var(--neutral-900);
    --neutral-hover: hsl(228, 26%, 27%);
  }

  @include md("medium") {
    --fs-500: 1.125rem;
    --fs-700: 2rem;
    --fs-900: 3.1rem;
  }
}

.light-theme {
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(225, 100%, 98%);
  --neutral-300: hsl(227, 47%, 96%);
  --neutral-400: hsl(228, 12%, 44%);
  --neutral-900: hsl(230, 17%, 14%);

  --neutral-custom: var(--neutral-400);
  --neutral-hover: hsl(232, 33%, 91%);
}

.dark-theme {
  --neutral-100: hsl(230, 17%, 14%);
  --neutral-200: hsl(232, 19%, 15%);
  --neutral-300: hsl(228, 28%, 20%);
  --neutral-400: hsl(228, 34%, 66%);
  --neutral-900: hsl(0, 0%, 100%);

  --neutral-custom: var(--neutral-900);
  --neutral-hover: hsl(228, 26%, 27%);
}
