@use '../abstract' as *;

/* ============
  Global
=========== */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    
    background-color: var(--neutral-100);
    color: var(--neutral-400);
  }