.border-top::before {
    --clr-facebook: hsl(208deg, 92%, 53%);
    --clr-twitter: hsl(203deg, 89%, 53%);
    --clr-instagram: linear-gradient(45deg, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
    --clr-youtube: hsl(348deg, 97%, 39%);
    content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 0.3rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.border-top.facebook::before { background: var(--clr-facebook); }
.border-top.twitter::before { background: var(--clr-twitter); }
.border-top.instagram::before { background:var(--clr-instagram); }
.border-top.youtube::before { background: var(--clr-youtube); } 
