@use "../abstract" as *;

/* Main */
.container {
  width: min(100% - 2rem, 75rem);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* Flex */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}

/* Grid */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* Typography */
@each $shade, $value in $font-sizes {
  .fs-#{$shade} {
    font-size: $value;
  }
}

@each $shade, $value in $font-colors {
  .text-#{$shade} {
    color: $value;
  }
}

.uppercase {
  text-transform: uppercase;
  font-weight: var(--fw-200);
  letter-spacing: 2px;
  margin-block: 0.3rem;
}

.custom-heading {
  font-size: 1.8rem;
  margin-top: 3rem;
  color: var(--neutral-custom);
}
